<?xml version="1.0"?>
<robot name="solar_flower" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Mesh scale: Fusion STL exported in mm, ROS uses meters -->
  <xacro:property name="mesh_scale" value="0.001 0.001 0.001"/>
  <link name="base_footprint"/>

<joint name="base_footprint_to_base_link" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <origin xyz="0 0 0" rpy="1.5708 0 0"/>
</joint>

  <!-- Base link -->
  <link name="base_link">
   <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://solar_flower_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
   </visual>
 </link>
  <!-- Azimuth link -->
  <link name="azimuth_link">
    <visual>
      <geometry>
        <mesh filename="package://solar_flower_description/meshes/azimuth_link.stl" scale="${mesh_scale}"/>
      </geometry>
    </visual>
  </link>

  <!-- Tilt link -->
  <link name="tilt_link">
   <visual>
    <origin xyz="-0.0325 -0.17535 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://solar_flower_description/meshes/tilt_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
   </visual>
  </link>
 
  <!-- Red petal -->
  <link name="red_petal_link">
   <visual>
    <origin xyz="0 -0.2243 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://solar_flower_description/meshes/red_petal_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
   </visual>
  </link>

  <!-- Blue petal -->
  <link name="blue_petal_link">
   <visual>
    <origin xyz="0 -0.2353 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://solar_flower_description/meshes/blue_petal_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
   </visual>
  </link>
  
  <!-- Green petal -->
  <link name="green_petal_link">
   <visual>
    <origin xyz="0 -0.2463 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://solar_flower_description/meshes/green_petal_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
   </visual>
  </link>

  <!-- Temporary fixed joints only for mesh alignment check -->
  <joint name="azimuth_joint" type="revolute">
   <parent link="base_link"/>
   <child link="azimuth_link"/>
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <axis xyz="0 1 0"/>
   <limit lower="-2.8" upper="2.8" effort="10" velocity="1.0"/>
  </joint>

 <joint name="tilt_joint" type="revolute">
  <parent link="azimuth_link"/>
  <child link="tilt_link"/>
  <origin xyz="0.0325 0.17535 0" rpy="0 0 0"/>
  <axis xyz="1 0 0"/>
  <limit lower="-0.524" upper="0.524" effort="10" velocity="1.0"/>
 </joint>

 
 <joint name="red_petal_joint" type="revolute">
  <parent link="tilt_link"/>
  <child link="red_petal_link"/>
  <origin xyz="-0.0325 0.04895 0" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
  <limit lower="-3.142" upper="0" effort="5" velocity="1.0"/>
 </joint>

 <joint name="blue_petal_joint" type="revolute">
  <parent link="tilt_link"/>
  <child link="blue_petal_link"/>
  <origin xyz="-0.0325 0.05995 0" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
  <limit lower="-2.094" upper="0" effort="5" velocity="1.0"/>
 </joint>

 
 <joint name="green_petal_joint" type="revolute">
  <parent link="tilt_link"/>
  <child link="green_petal_link"/>
  <origin xyz="-0.0325 0.07095 0" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
  <limit lower="-1.309" upper="0" effort="5" velocity="1.0"/>
 </joint>

</robot>
